* {
    margin: 0;
    padding: 0;
}
:root {
    --padding-x: 2rem;
    --padding-y: 1rem;
}
.Navigation>.navbars {
    width: 100%;
    height: 50px;
    background-color: darkorchid;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;


}

.Navigation>.navbars>.d1 {
    padding: calc(3px + var(--padding-y)) calc(10px +var(--padding-x));
    display: flex;
    font-size: 900;
    color: white;
    justify-content: space-between;
    align-items: center;
   position: relative;
   left: 0;
   top: 0;
   z-index: 1;
 

}
.Navigation>.navbars>.d1:hover{
    color: black;
 
}
.Navigation>.navbars>.d1::before{
    position: absolute;
    left: 0;top: 0;
    transition: all 0.5s ease-in-out;
    width: 0;
    height: 10px;
    z-index: -1;
}
.Navigation>.navbars>.d1:hover::before{
    width: 100%;
}
.Navigation>.navbars>.d2{
    display: flex;
   text-transform: uppercase;
   
    
}
.Navigation>.navbars>.d1 >.l1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 25px;
}
.Navigation>.navbars>.d2 >.l2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 190px;
    

}
